{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}
    Cart
{% endblock %}

{% block content %}
<section id="cart-hero">
  <div class="container main-content page-banner">
    <div class="row">
        <div class="col-lg-6">
            <h1>Cart</h1>
        </div>       
    </div>
  </div>
</section>
<section id="cart-main">
    <div class="container">
        {% if cart_items %}
            <div class="row cart-items-total">
                <h2>2 Items</h2>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="table-responsive">
                        <table class="table">
                        <thead>
                            <tr class="cart-text bg-light">
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                                <tr>
                                    <td>
                                        <div class="media cart-product-icon">
                                            <img class="mr-3" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                            <div class="media-body">
                                                <a class="cart-text" href="{% url 'product_detail' item.product.id %}">{{ item.product.name }}</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart-text">£{{ item.product.price }}</td>
                                    <td class="cart-text">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                            {% csrf_token %}
                                                <div class="quantity input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty"
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <i class="fas fa-caret-left"></i>
                                                        </button>
                                                    </div>
                                                    <input class="quantity-input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="20"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}"> 
                                                    <div class="input-group-append">
                                                        <button class="increment-qty"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <i class="fas fa-caret-right"></i>
                                                        </button>
                                                    </div>                                                                                                        
                                                </div>
                                        </form>
                                        <a class="update-cart">
                                            Update
                                        </a>
                                    </td>                                    
                                    <td class="cart-text">£{{ item.product.price | calc_subtotal:item.quantity }}</td>
                                    <td class="cart-text">

                                    </td>                                    
                                    <td class="cart-text">
                                        <a class="remove-item" id="remove_{{ item.item_id }}">
                                            <i class="fas fa-trash-alt fa-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>          
                </div>
                <div class="col-lg-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h2 class="cart-card-header text-center">Cart total</h2>
                            <ul class="list-unstyled">
                                <li class="d-flex align-items-center justify-content-between cart-text">Subtotal<span>${{ subtotal|floatformat:2 }}</span></li>
                                <li class="d-flex align-items-center justify-content-between cart-text">Delivery<span>${{ delivery|floatformat:2 }}</span></li>
                                <li class="border-bottom my-2"></li>
                                <li class="d-flex align-items-center justify-content-between mb-4 cart-text">Total<span>${{ total|floatformat:2 }}</span></li>                               
                            </ul>
                            {% if free_delivery_delta > 0 %}
                                <div class="card-footer text-center">
                                    <h5>Free delivery if you spend <strong class="card-footer-text">£{{ free_delivery_delta }}</strong> more!</h5>
                                </div>
                            {% endif %}                             
                        </div>
                    </div>
                </div>              
            </div>
            <div class="row cart-footer-row">
                <div class="col-lg-8">
                    <div class="row bg-light align-items-center text-center">
                        <div class="col-md-6 text-md-left cart-footer">
                            <a class="white-btn" href="{% url 'products' %}"><i class="fas fa-long-arrow-alt-left mr-4"></i>Continue shopping</a>
                        </div>
                        <div class="col-md-6 text-md-right cart-footer">
                            <a class="brown-btn" href="checkout.html">Secure Checkout<i class="fas fa-lock ml-4"></i></a>
                        </div>
                    </div>                 
                </div>
            </div>
        {% else %}
        <div class="row cart-items-total">
            <h2>Your cart is currently empty</h2>
        </div>
        <div class="row cart-footer-row">
            <div class="col-lg-12">
                <div class="row bg-light align-items-center text-center">
                    <div class="col-md-6 text-md-left cart-footer">
                        <a class="white-btn" href="{% url 'products' %}"><i class="fas fa-long-arrow-alt-left mr-4"></i>Continue shopping</a>
                    </div>
                </div>                 
            </div>
        </div>
        {% endif %}
    </div>
</section>        
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'js/quantity_input_script.js' %}"></script>
    <script type="text/javascript">
        // Update quantity on click
        $('.update-cart').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            // variables like "product_size" should be consistent with views
            var url = `/cart/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
             .done(function() {
                 location.reload();
             });
        })
    </script>    
{% endblock %}