{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_title %}
    Cart
{% endblock %}

{% block content %}
<section id="cart-hero">
  <div class="container main-content page-banner">
    <div class="row">
        <div class="col-lg-6">
            <h1>Cart</h1>
        </div>       
    </div>
  </div>
</section>
<section id="cart-main">
    <div class="container">
        {% if cart_items %}
            <div class="row cart-items-total">
                <h2>Cart Items</h2>
            </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="mb-3">
                            <div>
                                {% for item in cart_items %}
                                <hr>
                                <div class="row mb-4">
                                    <div class="col-md-5 col-lg-3 col-xl-3">
                                        <div>
                                            <img class="img-fluid w-100"
                                                src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-lg-9 col-xl-9">
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <a class="cart-product-name" href="{% url 'product_detail' item.product.id %}">{{ item.product.name }}</a>
                                                    <p>£{{ item.product.price }}</p>
                                                    <form class="form update-form mb-3" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                                        {% csrf_token %}
                                                            <div class="quantity input-group">
                                                                Qty: 
                                                                <div class="input-group-prepend">
                                                                    <button class="decrement-qty"
                                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                                        <i class="fas fa-caret-left"></i>
                                                                    </button>
                                                                </div>
                                                                <input class="quantity-input" type="number"
                                                                    name="quantity" value="{{ item.quantity }}" min="1" max="20"
                                                                    data-item_id="{{ item.item_id }}"
                                                                    id="id_qty_{{ item.item_id }}"> 
                                                                <div class="input-group-append">
                                                                    <button class="increment-qty"
                                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                                        <i class="fas fa-caret-right"></i>
                                                                    </button>
                                                                </div>                                                                                                        
                                                            </div>
                                                    </form>
                                                    <a class="update-cart">
                                                        <i class="fas fa-sync-alt mr-2"></i>Update Quantity
                                                    </a>                                              
                                                </div>
                                                <div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center mt-3">
                                                <div>
                                                    <a class="remove-item" id="remove_{{ item.item_id }}">
                                                        <i class="fas fa-trash-alt fa-lg mr-2"></i>Delete Product</i>
                                                    </a>
                                                </div>
                                              <p class="upper-text cart-total">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>               
                    </div>
                <div class="col-lg-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h2 class="cart-card-header text-center">Cart total</h2>
                            <ul class="list-unstyled">
                                <li class="d-flex align-items-center justify-content-between upper-text">Subtotal<span>£{{ subtotal|floatformat:2 }}</span></li>
                                <li class="d-flex align-items-center justify-content-between upper-text">Delivery<span>£{{ delivery|floatformat:2 }}</span></li>
                                <li class="border-bottom my-2"></li>
                                <li class="d-flex align-items-center justify-content-between mb-4 upper-text">Total<span>£{{ total|floatformat:2 }}</span></li>                               
                            </ul>
                            {% if free_delivery_delta > 0 %}
                                <div class="card-footer text-center">
                                    <h5>Free delivery if you spend <strong class="card-footer-text">£{{ free_delivery_delta }}</strong> more!</h5>
                                </div>
                            {% endif %}                             
                        </div>
                    </div>
                </div>              
                </div>
            <div class="row cart-footer-row">
                <div class="col-lg-8">
                    <div class="row bg-light align-items-center text-center">
                        <div class="col-md-6 text-md-left cart-footer">
                            <a class="white-btn" href="{% url 'products' %}"><i class="fas fa-long-arrow-alt-left mr-4"></i>Continue shopping</a>
                        </div>
                        <div class="col-md-6 text-md-right cart-footer">
                            <a class="brown-btn" href="{% url 'checkout' %}">Secure Checkout<i class="fas fa-lock ml-4"></i></a>
                        </div>
                    </div>                 
                </div>
            </div>
        {% else %}
        <div class="row cart-items-total">
            <h2>Your cart is currently empty</h2>
        </div>
        <div class="row cart-footer-row">
            <div class="col-lg-12">
                <div class="row bg-light align-items-center text-center">
                    <div class="col-md-6 text-md-left cart-footer">
                        <a class="white-btn" href="{% url 'products' %}"><i class="fas fa-long-arrow-alt-left mr-4"></i>Continue shopping</a>
                    </div>
                </div>                 
            </div>
        </div>
        {% endif %}
    </div>
</section>        
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'js/quantity_input_script.js' %}"></script>
    <script type="text/javascript">
        // Update quantity on click
        $('.update-cart').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        });

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/cart/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
             .done(function() {
                 location.reload();
             });
        });
    </script>    
{% endblock %}