/* --- Blog Page --- */

.blog-card {
    width: 25rem;
    height: 52rem;
    margin: auto;
}

.blog-card-img {
    width: 100%;
}

.blog-card-date {
    font-size: 1rem;
    font-style: italic;
}

.blog-card-title {
    color: #433E3F;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    padding: 0 1rem;
    line-height: 2rem;
}

.blog-card-title:hover{
    color: #CDB7C4;
}

.badge {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #433E3F;
    background-color: #CDB7C4;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    padding: 0.35rem 0.5rem;
}

/* --- Blog Post Page --- */

.blog-post-header {
    height: 40rem;
    overflow: hidden;
}

.blog-post-content .row{
    margin-top: 2rem;
}

.post-summary{
    font-weight: 600;
}

.blog-post-header img {
    width: 100%;
}

.blog-card-img > a > img {
    width: 100%;
}

