@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Bodoni+Moda:ital,wght@0,600;1,600&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
    font-size: 10px;
}

body,html {
  height: 100%;
}

body{
    font-family: 'Arimo', sans-serif;
    color: #433E3F;
}

.main-content{
    margin-top: 5rem;
}

a:link {
  text-decoration: none;
}

p{
    font-size: 1.2rem;
}

h1{
    font-family: 'Bodoni Moda', sans-serif;
    text-transform: uppercase;
}

.white-underline:hover{
    text-decoration-color: #E9ECEC;
}

.page-banner{
    padding: 5rem;
    background-color: #A08F7E;
    color: #E9ECEC;
}

.dropdown-item{
    font-size: 1.3rem;
    text-transform: uppercase;
}

.dropdown-item:hover, .dropdown-item:active  {
    background-color: #BBA0B0;
}

.fa-ellipsis-h{
    color: #BBA0B0;
}

.fa-ellipsis-h:hover{
    color: #433E3F;
}

.index-header{
    margin-top: 4rem;
    letter-spacing: 0.3rem;
    font-size: 3rem;
}

.index-header span{
    font-size: 2.8rem;
}

/* ------ AllAuth ------ */

.allauth-hero {
    background: url('/media/allauth-hero.jpg') no-repeat center;
    height: 90vh;
    width: 100%;
    background-size: cover;
}

.allauth-content{
    height: 50%;
    width: 100%;
    background-color: white;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; 
    color: #6c757d;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
    font-size: 1.3rem;
}

.allauth-form-inner-content input {
    font-size: 1.3rem;
}

.allauth-form-inner-content a {
    color: #A08F7E;
    font-size: 1.3rem;
}

.form-check-label { 
    margin-left: 1rem;
    font-size: 1.1rem;
 }

/* ------ Toasts ------ */

.message-container{
    position: fixed;
    top: 5rem;
    right: 7rem;
    z-index: 99999999999;
}

.custom-toast{
    overflow: visible;
}

.toast-header{
    background-color: #CDB7C4;
}

.toast-negative{
    background-color: #E9ECEC;
}

.toast-message-header
, .toast-header button{
    text-transform: uppercase;
    color: #433E3F;
}

.toast-message-header
, .toast-message-body{
    font-size: 1.3rem;
}

.bag-notification-wrapper {
    height: 15rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------ Buttons ------ */

.btn{
    background-color: #BBA0B0;
    border-style: none;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    color: #433E3F;
    padding: 0 3rem;
    box-shadow: 0rem 0.8rem 2rem rgba(0, 0, 0, 0.1);
}

.button{
    margin-top: 1rem;
}

.button:hover{
    background: #A08F7E;
    outline: 0;
    color: #E9ECEC;
    box-shadow: 0rem 0.3rem 1rem #E9ECEC;
}

.brown-btn{
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 1rem 3rem;
    background-color: #A08F7E;
    color: #E9ECEC;
}

.brown-btn:hover{
    background: #CDB7C4;
    outline: 0;
    color: #433E3F;
}

.white-btn{
    border: 1px solid #433E3F;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 1rem 3rem;
    color: #433E3F;
}

.white-btn:hover{
    background: #433E3F;
    outline: 0;
    color:#E9ECEC;
}

/* ------ Navbar ------ */

.navbar{
    padding: 0.2rem 1rem;
}

.brand-title{
    font-family: 'Bodoni Moda', sans-serif;
    font-size: 3rem;
}

.nav-link{
    margin-left: 1rem;
}

.nav-text{
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.form-control:focus {
    box-shadow: none;
}

.search-overlay {
    display: none;
    z-index: 9999;
}

.search-overlay-inner {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #E9ECEC;
    padding: 2rem !important;
}

.search-overlay-inner .close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.search-overlay-inner .row {
    width: 100%;
}

.search-overlay-inner .form-group {
    position: relative;
}

.search-overlay-inner .submit {
    border: none;
    position: absolute;
    right: 0;
    bottom: 1rem;
}

.navbar .search-overlay-inner input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #A08F7E;
    background: none;
    padding: 1rem 0;
    font-size: 1.6rem;
    font-weight: 300;
}

@media (max-width: 991px) {

  nav.navbar .search-overlay {
    font-size: 1.6rem;
  }
}

/* ------ Footer ------ */

.social-text{
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.footer-social{
    background-color: #433E3F;
    color: #E9ECEC;
    padding: 3rem 0;
}

.social-icon{
    margin-right: 4rem;
    color: #E9ECEC;
}

.social-icon:hover, .social-icon:active {
    color: #BBA0B0;
}

.footer-main-row{
    margin-bottom: 4rem;
}

.footer-info{
    margin-top: 4rem;
}

.footer-text{
    font-size: 1.2rem;
    color: #433E3F;
}

p .footer-text:hover{
    color: #BBA0B0;
}

.footer-text i{
    margin-right: 1rem;
}

.heading{
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* ------ Hero Section ------ */

.hero-image{
    /* https://unsplash.com/photos/q10VITrVYUM Hero Image */
    background: url('/media/heroimage.jpg') no-repeat center;
    background-size: cover;
    height: 75vh;
    width: 100%;
}

@media (max-width: 769px) {
  .hero-image {
    height: 90vh;
  }
}

.hero-image, .hero {
    position: relative;
}

#hero-brand-title{
    font-size: 7rem;
    color: black;
    font-size: 8rem;
}

#hero-text{
    text-transform: uppercase;
    font-weight: bold;
    color: #A08F7E;
}

/* ------ Index Sections ------ */



.index-about-image-div img {
    padding: 1rem;
    border: 1px solid #CDB7C4;
}

.index-about-image{
    width: 70%;
}

#index-staples-section{
    background-color: #A08F7E;
}

#index-staples-header{
    color:#E9ECEC;
}

.index-staples-items{
    margin-top: 6rem;
}

.index-staples-image{
    overflow: hidden;
    width: 80%;
    border: 2px solid #CDB7C4;
}

.index-staples-image img{
    transition: all 0.3s;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.index-staples-image:hover img {
	transform: scale(1.5);
}

.index-staples-name{
    margin: 2rem 0;
}

.index-staples-name{
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    color: #E9ECEC;
    text-align: center;
    text-transform: uppercase;
}

#index-staples-button{
    margin-bottom: 3rem;
}

.index-blog-banner {
    background: url('/media/get-it-done-planner-2.jpg') no-repeat center;
    background-size: cover;
    height: 50vh;
}

.index-blog-text {
    max-width: 60rem;
}

@media (max-width: 991px) {
  .index-blog-text {
    max-width: 40rem;
  }
}


/* ------ Products Hero ------ */

.category-name{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

/* ------ Products Header ------ */

.products-header{
    margin: 2rem 0;
}

#products-results-number{
    font-size: 1.4rem;
}

#products-sorting
,#products-sorting option{
    font-size: 1.4rem;
}

#products-sorting{
    border: 1px solid #A08F7E;
}

/* ------ Products ------ */

.products{
    font-size: 1.3rem;
}

.product-name{
    margin-top: 1.3rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #433E3F;
}

.product-image{
    border: 2px solid #CDB7C4;
}

/* https://sirv.com/help/articles/hover-change-image/ */
img.img-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}

img.img-hover:hover {
  opacity: 1;
}

/* ------ Product Detail ------ */

.product-detail-main{
    margin-top: 10rem;
}

.carousel-indicators{
    padding-bottom: 3rem;
}

.product-detail-carousel{
    max-width: 40rem;
}

.product-information{
    margin-top: 2rem;
}

.product-description{
    max-width: 40rem;
}

.product-recommendation{
    color:#A08F7E; 
    font-weight: 600;
}

.quantity-form{
    margin-top: 3rem;
}

.quantity-text{
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-right: 2rem;
}

.quantity {
  align-items: center;
  font-size: 1.3rem;
}

.quantity-input{
    text-align: center;
    width: 5rem;
    border: 1px solid #433E3F;
}

.quantity button {
  background: none;
  border: none;
  width: 1rem;
  outline: none;
}

.category-header
, .category-link{
    text-transform: uppercase;
    margin-right: 1rem;
    font-size: 1.1rem;
}

.category-link{
    color:#A08F7E;
}

.category-link:hover{
    color:#CDB7C4;
}

/* ------ Reviews and Comments ------ */

.tab-header{
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #A08F7E;
    color: #E9ECEC;
}

.tab-header:hover{
    color: #E9ECEC;
    background-color: #CDB7C4;
}

.custom-tab{
    padding: 0.5rem 2rem;
}

.tab-content{
    margin-top: 2rem;
}

.tab-bold{
    text-transform: uppercase;
    font-weight: bold;
}

.tab-date{
    text-transform: uppercase;
}

.badge{
    font-size: 1.1rem;
    background-color: #A08F7E;
    color: #E9ECEC;
}

.review-form{
    font-size: 1.3rem;
}

.form-check{
    margin-top: 2rem;
}

.review-submit{
    margin: 3rem 0;
}

/* ------ Cart ------ */

.cart-items-total{
    margin: 3rem 0;
    text-transform: uppercase;
}

.cart-product-icon img {
    width: 10rem;
    height: 10rem;
}

.upper-text
,.upper-text th
,.upper-text span{
    color: #433E3F;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.cart-product-icon a:hover{
    color: #CDB7C4;
}

.cart-card-header{
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}

.card-footer-text{
    font-size: 1.3rem;
    color: #764E35;
}

.cart-footer{
    padding: 2rem 1rem;
}

.cart-footer-row{
    margin: 2rem 0;
}

.update-cart
, .remove-item {
    cursor: pointer;
}

/* ------ Product Form ------ */

.form-group{
    font-weight: 600;
}

.form-group * {
    font-size: 1.3rem;
}

.form-btn {
    border: 1px solid #433E3F;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.3rem 0.3rem;
    margin-left: 2rem;
    color: #433E3F;
    position: relative;
    overflow: hidden;
}

.form-btn:hover{
    background: #433E3F;
    outline: 0;
    color:#E9ECEC;
}

.form-btn input[type="file"] {
    position: absolute;
    top: 0;
    right: 10rem;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
