{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block extra_title %}
    Blog
{% endblock %}

{% block content %}
<section id="blog-post-hero">
    <div class="blog-post-header">
        <img src="{{ post.image.url }}" class="blog-header-image" alt="{{ post.title }}">
    </div>
</section>
<section id="blog-post-main">
    <div class="container my-5 blog-post-content">
        {% if request.user.is_superuser %}
            {% if post.status == 0 %}
            <div class="row">
                <div class="col-12 text-center">
                    <div class="badge">Draft</div>
                </div>
            </div>
            {% endif %}                
            <div class="row">
                <div class="col-12 text-center">
                <a class="upper-text white-btn mr-2" href="{% url 'edit_post' post.slug %}"><i class="fas fa-edit fa-lg"></i></a>
                <a class="upper-text white-btn" href="#" data-toggle="modal" data-target="#deletepostModal"><i class="fas fa-trash-alt fa-lg"></i></a> 
                </div>           
            </div>
        {% endif %}               
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-4">{{ post.title }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3 class="text-center post-summary">{{ post.summary }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="">{{ post.content|safe }}</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h5>Published on {{ post.created_on }} by {{ post.author }}</h5>
            </div>
        </div>                           
    </div>
</section>
{% if post.status == 1 %}
    {% include 'blog/includes/post_comments.html' %}
{% endif %}
<!-- Modal -->
<div class="modal fade" id="deletepostModal" tabindex="-1" role="dialog" aria-labelledby="deletepostModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="deletepostModalLabel">Delete Blog Post</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to delete this post?</h5>
      </div>
      <div class="modal-footer">
        <a href="#" class="white-btn" data-dismiss="modal" data-target="#deletepostModal">Cancel</a>
        <a class="brown-btn ml-2" href="{% url 'delete_post' post.slug %}">Delete</a>
      </div>
    </div>
  </div>
</div>      
{% endblock %}