{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block extra_title %}
    Blog
{% endblock %}

{% block content %}
<section id="blog-hero">
  <div class="container main-content page-banner">
    <div class="row">
        <div class="col-lg-6">
            <h1>Blog</h1>
        </div>       
    </div>
  </div>
</section>
<section id="blog-main">
    <div class="container my-5">
        <div class="row">
            {% for post in posts %}
                <div class="col-lg-4 col-md-6 my-5">
                    <div class="blog-card">
                        <div class="blog-card-img position-relative">
                            {% if post.status == 0 %}
                                <div class="badge badge-overlay">Draft</div>
                            {% endif %}
                            <a href="{% url 'post_detail' post.slug %}">
                                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                            </a>
                        </div>
                        <p class="blog-card-date mt-2">
                            {{ post.created_on }}
                        </p>
                        <h2 class="text-center">
                            <a href="{% url 'post_detail' post.slug %}" class="blog-card-title">{{ post.title }}</a>
                        </h2>
                        <p>{{ post.summary|truncatechars:180 }}</p>
                        <hr>
                        <p>{{ post.author }}</p>
                    </div>            
                </div>
            {% endfor %}
        </div>
    </div>
</section>        
{% endblock %}