.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  font-size: 1.3rem;
  height: 4rem;
  padding: 1rem 1.2rem;
  border: 1px solid #433E3F;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.checkout-form{
    margin-top: 2rem;
}

.checkout-text{
    font-size: 1.3rem;
}

.order-header{
    font-weight: 600;
}

