{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Shop
{% endblock %}

{% block content %}
<section id="products-hero">
    <div class="container main-content">
        <div class="row page-banner">
            <div class="col-lg-6">
                <h1>Shop</h1>
            </div>        
            <div class="col-lg-6">
                <div class="d-flex justify-content-lg-end">
                {% if current_category == None %}
                    <h3 class="category-name">All Products</h3>
                {% else %}
                    {% for category in current_category %}
                        <h3 class="category-name">{{ category.friendly_name }}</h3>
                    {% endfor %}
                {% endif %}
                </div>
            </div>        
        </div>
        <div class="row bg-light">
            <div class="col-12 text-center">
                <h5><i class="fas fa-truck mr-2 mt-2 mb-2"></i>Free delivery on orders over £{{ free_delivery_threshold }}!</h5>
            </div>
        </div>
    </div>
</section>
<section id="products-section">
    <div class="container">
        <div class="row products-header">
            <div class="col-lg-6">
                <p id="products-results-number">
                    {{ products|length }} Results 
                    {% if search_term %} 
                        found for "{{ search_term }}"
                    {% endif %}
                </p>
            </div>
            <div class="col-lg-6 d-flex justify-content-lg-end" >             
                <ul class="list-inline d-flex justify-content-lg-end" >
                  <li class="list-inline-item" id="products-sorting">
                      <select class="sort-selector">
                        <option value="default" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name: A-Z</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name: Z-A</option>      
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price: Low to High</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price: High to Low</option>                          
                        <option value="recommend_percentage_desc" {% if current_sorting == 'recommend_percentage_desc' %}selected{% endif %}>Recommended</option>
                      </select>
                  </li>
                </ul>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-lg-3 col-sm-6">
                    <div class="products text-center mb-5">
                        <div class=" position-relative">
                            <a href="{% url 'product_detail' product.id %}">
                                {% if product.image %}
                                    <img class="img-fluid img-main w-65 product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    {% if product.image_2 %}
                                        <img class="img-fluid img-hover w-65 product-image" src="{{ product.image_2.url }}" alt="{{ product.name }}">
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>
                        <a href="{% url 'product_detail' product.id %}"><h4 class="product-name">{{ product.name }}</h4></a>
                        <p>£{{ product.price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> 
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'js/sorting.js' %}"></script>
{% endblock %}