<section id="product-reviews">
    <div class="container main-content">
        <div class="row">
            <h1 class="index-header mx-auto">Reviews</h1>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item"><a class="nav-link tab-header active" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews</a></li>
            <li class="nav-item"><a class="nav-link tab-header" id="write-review-tab" data-toggle="tab" href="#writereviews" role="tab" aria-controls="write-reviews" aria-selected="false">Write a review</a></li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                {% if reviews.count > 0 %}
                    {% for review in reviews %}
                        <div class="row review">
                            <div class="col-12">
                                <span class="review-date">{{ review.date_created }}</span>
                                <ul class="list-inline">
                                    <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item m-0"><i class="fas fa-star-half-alt text-warning"></i></li>
                                </ul>              
                                <h4 class="review-bold">{{ review.title }}</h4>
                                <p class="review-bold">{{ review.user }}</p>
                                 
                                <p>{{ review.description }}</p>
                                {% if review.would_recommend == True %}
                                    <p class="recommend-badge badge">I recommend this product</p>
                                {% endif %}                                  
                                <hr>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}    
                    <div class="row review">
                        <div class="col-12">
                            <h4 class="text-center my-5">There are no reviews for this product yet</h4>
                        </div>
                    </div>
                {% endif %}                                  
            </div>            
            <div class="tab-pane fade" id="writereviews" role="tabpanel" aria-labelledby="write-review-tab">
                {% if request.user.is_authenticated %}
                    <form class="form" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1" class="review-form">Write your review..</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label review-form" for="exampleCheck1">&nbsp;I would recommend this product</label>
                        </div>
                        <button type="submit" class="review-submit brown-btn">Submit</button>
                    </form>
                {% else %}
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center mt-5">
                            <h4>Please log in or sign up to leave a review</h4>
                        </div>
                        <div class="col-12 d-flex justify-content-center my-5">
                            <a class="white-btn mr-2" href="{% url 'account_login' %}">Log In</a>
                            <a class="white-btn ml-2" href="{% url 'account_signup' %}">Sign Up</a>
                        </div>
                    </div>                
                {% endif %}
            </div>
        </div>
    </div>
</section>