<div class="toast" data-autohide="true" data-delay="5000" >
    <div class="toast-header">
        <strong class="mr-auto toast-message-header">Success</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <i class="fas fa-window-close fa-sm"></i>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col toast-message-body">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if total and not on_profile_page %}
            <h4>Your Bag ({{ product_count }})</h4>
            <div class="bag-notification-wrapper">
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <img class="w-100" src="{{ item.product.image.url }}">
                        </div>
                        <div class="col-9 mt-3">
                            <h6><strong class="cart-text">{{ item.product.name }}</strong></h6>
                            <h6 class="cart-text">Qty: {{ item.quantity }}</h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <h3>
                        <strong class="cart-text">
                            Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: 
                            <span class="float-right">£{{ total|floatformat:2 }}</span>
                        </strong>
                    </h3>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-0 p-2 bg-light card-footer-text text-center">
                            Spend <strong class="card-footer-text">£{{ free_delivery_delta }}</strong> more to get free delivery!
                        </p>
                    {% endif %}
                    <a href="{% url 'view_cart' %}" class="brown-btn btn-block text-center mt-2">
                        Go To Secure Checkout<i class="fas fa-lock ml-4"></i>
                    </a>
                </div>
            </div>
        {% endif %}        
    </div>
</div>